.btn-wrapper {
  display: flex;
  justify-content: space-around;
}
div {
  text-align: center;
}

button {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  font-size: 2rem;
}

.btn-red {
  background-color: red;
}
.btn-green {
  background-color: green;
}
